<ul class="nav" role="menu">
  <li class="nav-home" role="menuitem">
    <a href="{{site.baseurl}}/">Home</a>
  </li>
  <li class="nav-about" role="menuitem">
    <a href="{{site.baseurl}}/about-me/">About</a>
  </li>
  <li class="nav-tableau" role="menuitem">
    <a href="{{site.baseurl}}/tag/tableau/">Tableau</a>
  </li>
  <li class="nav-alteryx" role="menuitem">
    <a href="{{site.baseurl}}/tag/alteryx/">Alteryx</a>
  </li>
  <li class="nav-videos" role="menuitem">
    <a href="{{site.baseurl}}/tag/videos/">Videos</a>
  </li>
</ul>
