<nav class="site-nav">
  <div class="site-nav-left">
    {% if page.current != 'home' %} {% if site.logo %}
    <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}/"
      ><img src="{{ site.baseurl}}{{ site.logo }}" alt="{{ site.title }}"
    /></a>
    {% else %}
    <a class="site-nav-logo" href="{{ site.baseurl }}/">{{ site.title }}</a>
    {% endif %} {% endif %} {% if page.navigation %} {% include navigation.html
    %} {% endif %}
  </div>
  <div class="site-nav-right">
    <div class="social-links">
      {% if site.alteryxcommunity %}
      <a
        class="social-link social-link-tw"
        href="https://community.alteryx.com/t5/user/viewprofilepage/user-id/{{ site.alteryxcommunity }}"
        target="_blank"
        rel="noopener"
        >{% include alteryx.html %}</a
      >
      {% endif %} {% if site.tableaupublic %}
      <a
        class="social-link social-link-tw"
        href="https://public.tableau.com/profile/{{ site.tableaupublic }}"
        target="_blank"
        rel="noopener"
        >{% include tableau.html %}</a
      >
      {% endif %} {% if site.github-user %}
      <a
        class="social-link social-link-tw"
        href="https://github.com/{{ site.github-user }}"
        target="_blank"
        rel="noopener"
        >{% include github.html %}</a
      >
      {% endif %}{% if site.linkedin %}
      <a
        class="social-link social-link-li"
        href="https://www.linkedin.com/in/{{ site.linkedin }}"
        target="_blank"
        rel="noopener"
        >{% include linkedin.html %}</a
      >
      {% endif %} {% if site.twitter %}
      <a
        class="social-link social-link-tw"
        href="https://twitter.com/{{ site.twitter }}"
        target="_blank"
        rel="noopener"
        >{% include twitter.html %}</a
      >
      {% endif %} {% if site.email %}
      <a
        class="social-link social-link-tw"
        href="mailto:{{ site.email }}"
        target="_blank"
        rel="noopener"
        >{% include email.html %}</a
      >
      {% endif %}
    </div>
    {% if site.subscribers %}
    <a class="subscribe-button" href="#subscribe">Subscribe</a>
    {% endif %}
  </div>
</nav>
